/* playfair-display-regular - latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/playfair/playfair-display-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
    url('../fonts/playfair/playfair-display-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/playfair/playfair-display-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/playfair/playfair-display-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/playfair/playfair-display-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/playfair/playfair-display-v15-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}

/* ubuntu-300 - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/ubuntu/ubuntu-v14-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu Light'), local('Ubuntu-Light'),
    url('../fonts/ubuntu/ubuntu-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ubuntu/ubuntu-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ubuntu/ubuntu-v14-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/ubuntu/ubuntu-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ubuntu/ubuntu-v14-latin-300.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
