// Body
$body-bg: #ffffff;

// Typography
$font-main: 'Playfair Display', sans-serif;
$font-accent: 'Ubuntu', sans-serif;
$font-size-base: 14px;
$line-height-base: 24px;

// Colors
$text-color: #626262;
$accent: #b4ad9e;
