@import 'fonts';
@import 'variables';
@import "_mixins/transition";

* {
    box-sizing: border-box;
}

html {
    max-height: 1000000em;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    margin: 0;
    font-size: $font-size-base;
    font-family: $font-main;
    min-width: 290px;
    position: relative;
    line-height: $line-height-base;
    overflow-x: hidden;
    background-color: $body-bg;
    color: $text-color;
    box-sizing: border-box;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

a {
    color: $text-color;
    text-decoration: none;
    outline: none;
    @include transition();
    &:hover {
        color: $accent;
    }
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    object-fit: cover;
    &.img-width {
        width: 100%;
    }
}

.container {
    width: 100%;
    max-width: 923px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 24px;
    &-xl {
        max-width: 1091px;
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &-listing {
        margin: 0 -30px;
    }
}

.site-header {
    padding: 70px 0 65px;
}

.navbar {
    ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            margin: 0 50px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            a {
                text-transform: uppercase;
                //color: $text-color;
            }
        }
    }
}
.btn {
    display: block;
    box-sizing: border-box;
    outline: none;
    background: transparent;

    line-height: 1;
    &-text {
        text-transform: uppercase;
        border: none;
        color: $accent;
        font-family: $font-accent;
        &:hover {
            color: $text-color;
        }
        &:focus, &:active {
            color: $accent;
        }
    }
    &-gray {
        border: 1px solid $text-color;
        padding: 20px 15px;
        max-width: 165px;
        margin: auto;
        text-align: center;
        font-size: 20px;
        font-family: $font-main;
        &:hover {
            color: $accent;
            border-color: $accent;
        }
        &:focus, &:active {
            color: $text-color;
        }
    }

}
.section {
    padding: 70px 0;
    text-align: center;
    background-color: #f0f0f0;
    &-title {
        margin: 0 0 65px;
        font-size: 30px;
        letter-spacing: 0.75px;
        color: #333333;
        line-height: 1;
    }
    &-sign-up {

    }
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    &:not([type="submit"]) {
        border-bottom: 3px solid #000000;
        padding: 15px 5px;
        color: $text-color;
        display: block;
    }
    &::placeholder {
        font-family: $font-main;
        font-size: $font-size-base;
        color: $text-color;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        font-family: $font-main;
        font-size: $font-size-base;
        color: $text-color;
    }

    &::-ms-input-placeholder {
        font-family: $font-main;
        font-size: $font-size-base;
        color: $text-color;
    }
}

.page-title {
    text-align: center;
    text-transform: uppercase;
}

.sign-up-form {
    width: 399px;
    margin: auto;
    position: relative;
    input {
        &:not([type="submit"]) {
            width: 100%;
        }
        &[type="submit"] {
            position: absolute;
            width: 32px;
            height: 17px;
            background-image: url("../image/send_icon.png");
            font-size: 0;
            padding: 0;
            cursor: pointer;
            right: -5px;
            bottom: 15px;
            @include transition();
            &:hover {
                opacity: 0.7;
            }
        }
    }

}

.posts-wrapper {
    margin: 90px 0;
}
.main-image {
    margin-bottom: 90px;
}
.post {
    padding: 0 30px;
    margin-bottom: 130px;
    box-sizing: border-box;
    &-image {
        margin-bottom: 25px;
    }
    &-category {
        font-family: $font-accent;
        font-weight: 300;
        text-transform: uppercase;
        color: $accent;
        margin-bottom: 20px;
    }
    &-title {
        font-size: 30px;
        margin-bottom: 30px;
        line-height: 1;
    }
    &-excerpt {
        margin-bottom: 45px;
    }
    &-horizontal {
        width: 100%;
    }
    &-half {
        width: 50%;
        .post-excerpt {
            height: 70px;
            overflow: hidden;
            margin-bottom: 0;
        }
    }
    &-content {
        &.html {
            img {
                max-width: 100%;
                display: block;
                height: auto;
                object-fit: cover;
                margin: auto;
            }
            p {
                margin: 30px 0;
            }
        }
    }
}

.section-resent {
    .section-title {
        font-family: $font-accent;
        font-size: $font-size-base;
        text-align: left;
        color: #B4AD9E;
        margin-bottom: 30px;
    }
    .row {
        margin: 0 -15px;
    }
}

.related-post {
    width: calc(100% / 3);
    padding: 0 15px;
    box-sizing: border-box;
    .image-wrapper {
        margin-bottom: 15px;
    }
    .related-title {
        color: #626262;
        font-size: 20px;
        text-align: left;
        letter-spacing: 0;
    }
}

.section-comments {
    padding: 60px 0;
    .comments-count {
        font-family: $font-accent;
        color: $accent;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    .comment-item {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        .avatar {
            width: 70px;
            height: 70px;
            margin-right: 30px;
            img {
                border-radius: 50%;
            }
        }
        .author-name {
            font-weight: 800;
            margin-bottom: 10px;
        }
        .comment-content {
            width: calc(100% - 100px);
            margin-bottom: 30px;
        }
    }
    .comment-form {
        input {
            padding: 25px 30px;
            width: calc(100% - 100px);
            border: 1px solid #C8C8C8;
            border-radius: 5px;
            &::placeholder {
                color: $accent;
                opacity: 1;
            }

            &:-ms-input-placeholder {
                color: $accent;
            }

            &::-ms-input-placeholder {
                color: $accent;
            }
        }
    }
}

/*START Pagination*/
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    .page-item {
        margin: 0 5px;
        .page-link {
            padding: 3px 10px 6px;;
            border: 1px solid $accent;
            font-size: 16px;
            @include transition();
        }
        &.disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: none;
        }
        &.active {
            pointer-events: none;
            cursor: none;
        }
        &:not(.disabled) {
            &.active, &:hover {
                  .page-link {
                      background-color: $text-color;
                      border-color: $text-color;
                      color: white;
                  }
            }
        }
    }
}
/*END Pagination*/

/*START Footer*/
.site-footer {
    background-color: #f0f0f0;
    padding: 40px 0;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        li {
            &:not(:last-of-type) {
                margin-right: 20px;
            }
        }
        a {
            color: #000000;
            &:hover {
                color: $accent;
            }
        }
    }
    .right-menu {
        display: flex;
        > span {
            color: #000000;
            margin-right: 25px;
        }
        li {
            &:not(:last-of-type) {
                margin-right: 15px;
            }
        }
        a {
            i {
                color: #707070;
                @include transition();
            }
            span {
                font-size: 0;
            }
            &:hover {
                i {
                    color: $accent;
                }
            }
        }
    }
}
/*END Footer*/

