/* playfair-display-regular - latin */

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/playfair-display-v15-latin-regular.eot?dfa15e750be6bc53dfbfcd14c61188fe);
  /* IE9 Compat Modes */
  src: local("Playfair Display Regular"), local("PlayfairDisplay-Regular"), url(/fonts/playfair-display-v15-latin-regular.eot?dfa15e750be6bc53dfbfcd14c61188fe) format("embedded-opentype"), url(/fonts/playfair-display-v15-latin-regular.woff2?496b0ee7c32c16da8c6289fa8aae5268) format("woff2"), url(/fonts/playfair-display-v15-latin-regular.woff?e4a38c67e9051d378cc441113289d23b) format("woff"), url(/fonts/playfair-display-v15-latin-regular.ttf?5dbbdd652a8dfed1d07c04c63a8a02d6) format("truetype"), url(/fonts/playfair-display-v15-latin-regular.svg?02e026b5ddf7001ae32e99b7a147d5c9) format("svg");
  /* Legacy iOS */
}

/* ubuntu-300 - latin */

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/ubuntu-v14-latin-300.eot?a4ac003800b0614c5fea55bd06c8f493);
  /* IE9 Compat Modes */
  src: local("Ubuntu Light"), local("Ubuntu-Light"), url(/fonts/ubuntu-v14-latin-300.eot?a4ac003800b0614c5fea55bd06c8f493) format("embedded-opentype"), url(/fonts/ubuntu-v14-latin-300.woff2?16a73d944d9825af5a5c1a1f55de8f28) format("woff2"), url(/fonts/ubuntu-v14-latin-300.woff?f47318810718978402787f6c97d80b3c) format("woff"), url(/fonts/ubuntu-v14-latin-300.ttf?ee4afab8127f94ac1db1014c13f4048a) format("truetype"), url(/fonts/ubuntu-v14-latin-300.svg?1d78262dd49a4677830582ed949bb6a4) format("svg");
  /* Legacy iOS */
}

* {
  box-sizing: border-box;
}

html {
  max-height: 1000000em;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: "Playfair Display", sans-serif;
  min-width: 290px;
  position: relative;
  line-height: 24px;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #626262;
  box-sizing: border-box;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

a {
  color: #626262;
  text-decoration: none;
  outline: none;
  transition: all 0.25s ease;
}

a:hover {
  color: #b4ad9e;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-responsive.img-width {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 923px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  line-height: 24px;
}

.container-xl {
  max-width: 1091px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-listing {
  margin: 0 -30px;
}

.site-header {
  padding: 70px 0 65px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar ul li {
  margin: 0 50px;
}

.navbar ul li:first-child {
  margin-left: 0;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  text-transform: uppercase;
}

.btn {
  display: block;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  line-height: 1;
}

.btn-text {
  text-transform: uppercase;
  border: none;
  color: #b4ad9e;
  font-family: "Ubuntu", sans-serif;
}

.btn-text:hover {
  color: #626262;
}

.btn-text:focus,
.btn-text:active {
  color: #b4ad9e;
}

.btn-gray {
  border: 1px solid #626262;
  padding: 20px 15px;
  max-width: 165px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  font-family: "Playfair Display", sans-serif;
}

.btn-gray:hover {
  color: #b4ad9e;
  border-color: #b4ad9e;
}

.btn-gray:focus,
.btn-gray:active {
  color: #626262;
}

.section {
  padding: 70px 0;
  text-align: center;
  background-color: #f0f0f0;
}

.section-title {
  margin: 0 0 65px;
  font-size: 30px;
  letter-spacing: 0.75px;
  color: #333333;
  line-height: 1;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

input:not([type=submit]) {
  border-bottom: 3px solid #000000;
  padding: 15px 5px;
  color: #626262;
  display: block;
}

input::-webkit-input-placeholder {
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  color: #626262;
  opacity: 1;
}

input::-moz-placeholder {
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  color: #626262;
  opacity: 1;
}

input:-ms-input-placeholder {
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  color: #626262;
  opacity: 1;
}

input::-ms-input-placeholder {
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  color: #626262;
  opacity: 1;
}

input::placeholder {
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  color: #626262;
  opacity: 1;
}

input:-ms-input-placeholder {
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  color: #626262;
}

input::-ms-input-placeholder {
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  color: #626262;
}

.page-title {
  text-align: center;
  text-transform: uppercase;
}

.sign-up-form {
  width: 399px;
  margin: auto;
  position: relative;
}

.sign-up-form input:not([type=submit]) {
  width: 100%;
}

.sign-up-form input[type=submit] {
  position: absolute;
  width: 32px;
  height: 17px;
  background-image: url(/images/send_icon.png?05d92980d2be3d8205e78b5661761f05);
  font-size: 0;
  padding: 0;
  cursor: pointer;
  right: -5px;
  bottom: 15px;
  transition: all 0.25s ease;
}

.sign-up-form input[type=submit]:hover {
  opacity: 0.7;
}

.posts-wrapper {
  margin: 90px 0;
}

.main-image {
  margin-bottom: 90px;
}

.post {
  padding: 0 30px;
  margin-bottom: 130px;
  box-sizing: border-box;
}

.post-image {
  margin-bottom: 25px;
}

.post-category {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
  margin-bottom: 20px;
}

.post-title {
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 1;
}

.post-excerpt {
  margin-bottom: 45px;
}

.post-horizontal {
  width: 100%;
}

.post-half {
  width: 50%;
}

.post-half .post-excerpt {
  height: 70px;
  overflow: hidden;
  margin-bottom: 0;
}

.post-content.html img {
  max-width: 100%;
  display: block;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.post-content.html p {
  margin: 30px 0;
}

.section-resent .section-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  text-align: left;
  color: #B4AD9E;
  margin-bottom: 30px;
}

.section-resent .row {
  margin: 0 -15px;
}

.related-post {
  width: calc(100% / 3);
  padding: 0 15px;
  box-sizing: border-box;
}

.related-post .image-wrapper {
  margin-bottom: 15px;
}

.related-post .related-title {
  color: #626262;
  font-size: 20px;
  text-align: left;
  letter-spacing: 0;
}

.section-comments {
  padding: 60px 0;
}

.section-comments .comments-count {
  font-family: "Ubuntu", sans-serif;
  color: #b4ad9e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.section-comments .comment-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.section-comments .comment-item .avatar {
  width: 70px;
  height: 70px;
  margin-right: 30px;
}

.section-comments .comment-item .avatar img {
  border-radius: 50%;
}

.section-comments .comment-item .author-name {
  font-weight: 800;
  margin-bottom: 10px;
}

.section-comments .comment-item .comment-content {
  width: calc(100% - 100px);
  margin-bottom: 30px;
}

.section-comments .comment-form input {
  padding: 25px 30px;
  width: calc(100% - 100px);
  border: 1px solid #C8C8C8;
  border-radius: 5px;
}

.section-comments .comment-form input::-webkit-input-placeholder {
  color: #b4ad9e;
  opacity: 1;
}

.section-comments .comment-form input::-moz-placeholder {
  color: #b4ad9e;
  opacity: 1;
}

.section-comments .comment-form input:-ms-input-placeholder {
  color: #b4ad9e;
  opacity: 1;
}

.section-comments .comment-form input::-ms-input-placeholder {
  color: #b4ad9e;
  opacity: 1;
}

.section-comments .comment-form input::placeholder {
  color: #b4ad9e;
  opacity: 1;
}

.section-comments .comment-form input:-ms-input-placeholder {
  color: #b4ad9e;
}

.section-comments .comment-form input::-ms-input-placeholder {
  color: #b4ad9e;
}

/*START Pagination*/

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-item .page-link {
  padding: 3px 10px 6px;
  border: 1px solid #b4ad9e;
  font-size: 16px;
  transition: all 0.25s ease;
}

.pagination .page-item.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: none;
}

.pagination .page-item.active {
  pointer-events: none;
  cursor: none;
}

.pagination .page-item:not(.disabled).active .page-link,
.pagination .page-item:not(.disabled):hover .page-link {
  background-color: #626262;
  border-color: #626262;
  color: white;
}

/*END Pagination*/

/*START Footer*/

.site-footer {
  background-color: #f0f0f0;
  padding: 40px 0;
}

.site-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.site-footer ul li:not(:last-of-type) {
  margin-right: 20px;
}

.site-footer ul a {
  color: #000000;
}

.site-footer ul a:hover {
  color: #b4ad9e;
}

.site-footer .right-menu {
  display: flex;
}

.site-footer .right-menu > span {
  color: #000000;
  margin-right: 25px;
}

.site-footer .right-menu li:not(:last-of-type) {
  margin-right: 15px;
}

.site-footer .right-menu a i {
  color: #707070;
  transition: all 0.25s ease;
}

.site-footer .right-menu a span {
  font-size: 0;
}

.site-footer .right-menu a:hover i {
  color: #b4ad9e;
}

/*END Footer*/

