<template>
    <p>{{title}} {{int}}</p>
</template>

<script>
    export default {

        data() {
            return {
                title: 0,
                int: 0,
            };
        },

        created() {
            axios.get('http://mysite.loc/api/about')
                .then(({ data }) => {

                    this.title = data.title;
                    this.int = data.int;
                });
        }

    }
</script>
